@font-face {
  font-family: 'MerriweatherSans-ExtraBold';
  src: url('../fonts/MerriweatherSans/MerriweatherSans-ExtraBold.svg') format('svg'),
       url('../fonts/MerriweatherSans/MerriweatherSans-ExtraBold.ttf') format('ttf'),
       url('../fonts/MerriweatherSans/MerriweatherSans-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'MerriweatherSans-Bold';
  src: url('../fonts/MerriweatherSans/MerriweatherSans-Bold.svg') format('svg'),
       url('../fonts/MerriweatherSans/MerriweatherSans-Bold.ttf') format('ttf'),
       url('../fonts/MerriweatherSans/MerriweatherSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'MerriweatherSans-Regular';
  src: url('../fonts/MerriweatherSans/MerriweatherSans-Regular.svg') format('svg'),
       url('../fonts/MerriweatherSans/MerriweatherSans-Regular.ttf') format('ttf'),
       url('../fonts/MerriweatherSans/MerriweatherSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ArialMT/ArialMT.svg') format('svg'),
  url('../fonts/ArialMT/ArialMT.ttf') format('ttf'),
  url('../fonts/ArialMT/ArialMT.woff') format('woff');
}

@font-face {
  font-family: 'Arial-BoldMT';
  src: url('../fonts/ArialMT/Arial-BoldMT.svg') format('svg'),
  url('../fonts/ArialMT/Arial-BoldMT.ttf') format('ttf'),
  url('../fonts/ArialMT/Arial-BoldMT.woff') format('woff');
}

@font-face {
  font-family: 'Cousine-Regular';
  src: url('../fonts/Cousine/Cousine-Regular.svg') format('svg'),
  url('../fonts/Cousine/Cousine-Regular.ttf') format('ttf'),
  url('../fonts/Cousine/Cousine-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cousine-Bold';
  src: url('../fonts/Cousine/Cousine-Bold.svg') format('svg'),
  url('../fonts/Cousine/Cousine-Bold.ttf') format('ttf'),
  url('../fonts/Cousine/Cousine-Bold.woff') format('woff');
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.svg') format('svg'),
  url('../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('ttf'),
  url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff') format('woff');
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url('../fonts/RobotoCondensed/RobotoCondensed-Bold.svg') format('svg'),
  url('../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf') format('ttf'),
  url('../fonts/RobotoCondensed/RobotoCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TrebuchetMS';
  src: url('../fonts/TrebuchetMS/TrebuchetMS.svg') format('svg'),
  url('../fonts/TrebuchetMS/TrebuchetMS.ttf') format('ttf'),
  url('../fonts/TrebuchetMS/TrebuchetMS.woff') format('woff');
}

