@import "variables";

@media (min-width: 768px) {
  .for-768 {
    display: flex;
  }
  .for-320 {
    display: none;
  }
  .top-bar__left a {
    margin-right: 30px;
  }
  .choose-lang {
    margin-right: 0;
  }
  .logo {
    display: inline-flex;
    margin-left: 18px;
    margin-top: 25px;
  }
  .search {
    width: 260px;
    height: 34px;
    display: inline-flex;
    margin-top: 36px;
    float: right;
    &__button {
      padding: 16px;
      background-position: 8px;
      &:hover {
        background: $bd-standard url('../../components/Header/img/search-icon.png') no-repeat 8px;
      }
    }
  }
  .menu {
    display: flex;
  }
  .footer-bottom {
    //display: flex;
    //justify-content: space-between;
    &__flex-container {
      display: flex;
      justify-content: space-between;
    }
    &__wrapper {
      width: 42%;
    }
    &__social {
      justify-content: space-between;
      width: 49.5%;
    }
    &__cards {
      margin-bottom: 0;
    }
    &__copy {
      font-size: 11px;
      margin-bottom: 0;
      margin-top: 2px;
    }
  }
  .back-to-top {
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }
}

@media (min-width: 980px) {
  .for-980 {
    display: inline;
  }
  .logo-mobile {
    display: none;
  }
  .menu {
    width: 65.5%;
    margin-top: 31px;
  }
  .logo-pc {
    display: block;
    margin-left: 16px;
  }
  .top-bar__span {
    margin: 4px 10px 0 -28px;
  }
  .top-bar__left a {
    margin-right: 39px;
  }
  .choose-lang, .choose-currency {
    padding-right: 25px;
  }
  .search {
    margin-top: 15px;
    margin-bottom: -10px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    &__wrapper {
      width: 38%;
    }
    &__social {
      width: 41%;
    }
    &__flex-container {
      width: 94%;
      justify-content: space-between;
      margin-right: 15px;
    }
    &__copy {
      font-size: 12px;
      margin-top: 6px;
    }
  }
  .back-to-top {
    display: block;
    margin-top: 14px;
  }
}

@media (min-width: 1366px) {
  .top-bar, .nav-container, footer {
    padding-right: 7.2%;
    padding-left: 7.2%;
  }
  .search {
    margin-right: 7.2%;
  }
  .menu {
    width: 56.4%;
    padding: 0;
  }
  .logo-pc {
    margin-left: -4px;
  }
  .footer-bottom {
    &__flex-container {
      width: 100%;
    }
  }
  .back-to-top {
    position: absolute;
    bottom: 60px;
    right: 3%;
  }
}

