// colors
$bg-top: #f6f6f6;
$link-light: #7e7e7e;
$logo-text: #454545;
$bd-standard: #e1e1e1;
$icon-text: #666666;
$placeholder: #888888;
$button-color: #999999;
$link-dark: #565656;
$bg-footer: #1f1f1f;
$separator: #2a2a2a;

