/* 320px */

.site-content {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.top-bar {
  background-color: #f6f6f6;
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "MerriweatherSans-Regular", sans-serif;
    color: #7e7e7e;
    font-size: 11px;
    line-height: 28px;}
  &__span {
    text-transform: uppercase;
    font-family: "MerriweatherSans-Regular", sans-serif;
    color: #7e7e7e;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 3px;}
}

.lang-currency {
  display: flex;
  justify-content: space-evenly;
  margin-top: 9px;
  margin-bottom: 22px;
  & a {
    padding-right: 15px;
  }
}

#choose-currency {
  margin-left: 18px;
  background: url("img/arrow-down.png") no-repeat 64px 11px;
}

#choose-lang {
  margin-right: 29px;
  background: url("img/arrow-down.png") no-repeat 49px 11px;
}

.logo {
  margin: 0 auto;
  width: fit-content;
}

.login {
  margin: 0 auto 15px;
  width: fit-content;
}

.logo__text {
  text-decoration: none;
  font-family: MerriweatherSans-Bold, sans-serif;
  color: #454545;
  font-size: 44px;
  font-weight: bold;
  margin-left: 4px;
  & img{
    margin-right: 8px;}
}

.search {
  border: 1px solid #e1e1e1;
  display: flex;
  margin: 0 20px;
  &__input {
    border: none;
    outline: none;
    vertical-align: top;
    font-family: TrebuchetMS, sans-serif;
    font-size: 13px;
    width: 90%;
    padding: 0 9px;
    line-height:38px;}
    &::placeholder {
      color: #888888;}
  &__button {
    padding: 19px;
    border: none;
    cursor: pointer;
    background: url('img/search-icon.png') no-repeat 11px;}
    &:hover {
      background: #e1e1e1 url('img/search-icon.png') no-repeat 11px;}
}

.nav-cart {
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #565656;
  align-items: center;
}

.navigation {
  &__text {
    text-transform: uppercase;
    font-family: Cousine-Bold, sans-serif;}
  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    &_elem {
      width: 16px;
      height: 3px;
      background-color: #666666;
      margin-bottom: 2px;}
  }
}

.cart {
  padding-left: 33px;
  background: url('img/basket.png') no-repeat 0 -3px;
  &__sum {
    font-family: Cousine-Regular, sans-serif;}
}

