header
    .top-bar
        .top-bar__left
            a.top-bar__link(href='#') My Account
            a.top-bar__link(href='#') MY Wishlist (0)
            a.top-bar__link(href='#') Checkout
            a.for-768.top-bar__link(href='#') Log In
            span.for-980.top-bar__span or
            a.for-980.top-bar__link(href='#') Register
        .top-bar__right.for-768
            a.top-bar__link.choose-currency(href='#') US Dollar
            a.top-bar__link.choose-lang(href='#') English
            a.top-bar__link(href='#') My Bag: 0 item(s)
    .lang-currency.for-320
        a.top-bar__link.choose-currency(href='#') US Dollar
        a.top-bar__link.choose-lang(href='#') English
    .logo.logo-mobile
        a.logo__text(href='/')
            img(src=require('./img/logo1.png'), alt='Fengo')
            | FENGO
    .login.for-320
        a.top-bar__link(href='#') Log In
        span.top-bar__span or
        a.top-bar__link(href='#') Register
    form.search
        input.search__input(type='search', placeholder='Find it here...')
        button.search__button
    .nav-cart
        .navigation.for-320
            .navigation__icon
                .navigation__icon_elem
                .navigation__icon_elem
                .navigation__icon_elem
            span.navigation__text Navigation
        .cart.for-320
            span.cart__sum $0.00
    .nav-container
        .logo-pc.for-980
            a.logo__text(href='/fengo/')
                img(src=require('./img/logo1.png'), alt='Fengo')
                | FENGO
        .menu
            a(href='/fengo/fashion/') Fashion
            a(href='#') Electronics
            a(href='#') Gifts
            a(href='#') Books
            a(href='#') At Home
            a(href='#') Music
            a(href='#') Sale

