.slider-top {
  margin: auto;
  width:100%;
  img {
    width:100%;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    display: block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 0;
    z-index: 1;
    border: 2px solid white;
    border-radius: 25px;
    &_right {
      right: 20px;
      background: url("img/arrow-right.png") no-repeat center;
      &:hover {
        background: rgba(255, 255, 255, 0.3) url("img/arrow-right.png") no-repeat center;
      }
    }
    &_left {
      left: 20px;
      background: url("img/arrow-left.png") no-repeat center;
      &:hover {
        background: rgba(255, 255, 255, 0.3) url("img/arrow-left.png") no-repeat center;
      }
    }
  }
}

