.autoplay.slider-top
    div
        img(src=require('./img/nast297713.jpg'), alt='fashion')
    div
        img(src=require('./img/kate-upton.jpg'), alt='fashion')
    div
        img(src=require('./img/feature6.jpg'), alt='fashion')

