@font-face {
  font-family: 'MerriweatherSans-ExtraBold';
  src: url(assets/fonts/MerriweatherSans-ExtraBold.svg) format("svg"), url(assets/fonts/MerriweatherSans-ExtraBold.ttf) format("ttf"), url(assets/fonts/MerriweatherSans-ExtraBold.woff) format("woff"); }

@font-face {
  font-family: 'MerriweatherSans-Bold';
  src: url(assets/fonts/MerriweatherSans-Bold.svg) format("svg"), url(assets/fonts/MerriweatherSans-Bold.ttf) format("ttf"), url(assets/fonts/MerriweatherSans-Bold.woff) format("woff"); }

@font-face {
  font-family: 'MerriweatherSans-Regular';
  src: url(assets/fonts/MerriweatherSans-Regular.svg) format("svg"), url(assets/fonts/MerriweatherSans-Regular.ttf) format("ttf"), url(assets/fonts/MerriweatherSans-Regular.woff) format("woff"); }

@font-face {
  font-family: 'ArialMT';
  src: url(assets/fonts/ArialMT.svg) format("svg"), url(assets/fonts/ArialMT.ttf) format("ttf"), url(assets/fonts/ArialMT.woff) format("woff"); }

@font-face {
  font-family: 'Arial-BoldMT';
  src: url(assets/fonts/Arial-BoldMT.svg) format("svg"), url(assets/fonts/Arial-BoldMT.ttf) format("ttf"), url(assets/fonts/Arial-BoldMT.woff) format("woff"); }

@font-face {
  font-family: 'Cousine-Regular';
  src: url(assets/fonts/Cousine-Regular.svg) format("svg"), url(assets/fonts/Cousine-Regular.ttf) format("ttf"), url(assets/fonts/Cousine-Regular.woff) format("woff"); }

@font-face {
  font-family: 'Cousine-Bold';
  src: url(assets/fonts/Cousine-Bold.svg) format("svg"), url(assets/fonts/Cousine-Bold.ttf) format("ttf"), url(assets/fonts/Cousine-Bold.woff) format("woff"); }

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url(assets/fonts/RobotoCondensed-Regular.svg) format("svg"), url(assets/fonts/RobotoCondensed-Regular.ttf) format("ttf"), url(assets/fonts/RobotoCondensed-Regular.woff) format("woff"); }

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url(assets/fonts/RobotoCondensed-Bold.svg) format("svg"), url(assets/fonts/RobotoCondensed-Bold.ttf) format("ttf"), url(assets/fonts/RobotoCondensed-Bold.woff) format("woff"); }

@font-face {
  font-family: 'TrebuchetMS';
  src: url(assets/fonts/TrebuchetMS.svg) format("svg"), url(assets/fonts/TrebuchetMS.ttf) format("ttf"), url(assets/fonts/TrebuchetMS.woff) format("woff"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.content {
  flex: 1; }

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 4px 20px; }
  .top-bar__link {
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: "MerriweatherSans-Regular", sans-serif;
    color: #7e7e7e;
    font-size: 11px;
    padding: 6px 0 6px; }
  .top-bar__span {
    text-transform: uppercase;
    font-family: "MerriweatherSans-Regular", sans-serif;
    color: #7e7e7e;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 7px; }
  .top-bar__left a {
    margin-right: 27px; }
  .top-bar__right a {
    margin-left: 26px; }

.lang-currency {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
  margin-bottom: 23px; }

.choose-currency {
  margin-left: 18px;
  padding-right: 15px;
  background: url(img/arrow-down.png) no-repeat 64px 10px; }

.choose-lang {
  margin-right: 29px;
  padding-right: 15px;
  background: url(img/arrow-down.png) no-repeat 49px 10px; }

.logo {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .logo__text {
    text-decoration: none;
    font-family: MerriweatherSans-Bold, sans-serif;
    color: #454545;
    font-size: 44px;
    margin-left: 4px; }
    .logo__text img {
      margin-right: 8px; }

.login {
  margin: 4px auto 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.search {
  border: 1px solid #e1e1e1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px; }
  .search__input {
    border: none;
    outline: none;
    font-family: TrebuchetMS, sans-serif;
    font-size: 13px;
    width: 90%;
    padding: 0 9px; }
  .search::-webkit-input-placeholder {
    color: #888888; }
  .search:-ms-input-placeholder {
    color: #888888; }
  .search::-ms-input-placeholder {
    color: #888888; }
  .search::placeholder {
    color: #888888; }
  .search__button {
    padding: 19px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(img/search-icon.png) no-repeat 11px; }

.nav-cart {
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #565656;
  align-items: center; }

.navigation__text {
  text-transform: uppercase;
  font-family: Cousine-Bold, sans-serif;
  line-height: 24px; }

.navigation__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px; }
  .navigation__icon_elem {
    width: 16px;
    height: 3px;
    background-color: #666666;
    margin-bottom: 2px; }

.cart {
  padding-left: 32px;
  background: url(img/basket.png) no-repeat 0 -3px; }
  .cart__sum {
    font-family: Cousine-Regular, sans-serif; }

.menu {
  padding: 0 20px;
  display: none;
  justify-content: space-between;
  width: 100%; }
  .menu a {
    font-family: Cousine-Bold, sans-serif;
    text-decoration: none;
    color: #565656;
    font-size: 14px;
    text-transform: uppercase; }

.for-768, .for-980 {
  display: none; }

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%; }

@media (min-width: 768px) {
  .for-768 {
    display: inline; }
  .for-320 {
    display: none; }
  .top-bar__left a {
    margin-right: 30px; }
  .choose-lang {
    margin-right: 0; }
  .logo {
    display: inline-flex;
    margin-left: 18px;
    margin-top: 25px; }
  .search {
    width: 260px;
    height: 34px;
    display: inline-flex;
    margin-top: 36px;
    float: right; }
    .search__button {
      padding: 16px;
      background-position: 8px; }
      .search__button:hover {
        background: #e1e1e1 url(img/search-icon.png) no-repeat 8px; }
  .menu {
    display: flex; } }

@media (min-width: 980px) {
  .for-980 {
    display: inline; }
  .logo-mobile {
    display: none; }
  .menu {
    width: 65.5%;
    margin-top: 31px; }
  .logo-pc {
    display: block;
    margin-left: 16px; }
  .top-bar__span {
    margin: 0 10px 0 -28px; }
  .top-bar__left a {
    margin-right: 39px; }
  .choose-lang, .choose-currency {
    padding-right: 25px; }
  .search {
    margin-top: 15px;
    margin-bottom: -10px; } }

@media (min-width: 1366px) {
  .top-bar, .nav-container {
    padding-right: 7.2%;
    padding-left: 7.2%; }
  .search {
    margin-right: 7.2%; }
  .menu {
    width: 56.4%;
    padding: 0; }
  .logo-pc {
    margin-left: -4px; } }

