/* 320px */
.site-content {
  margin: 0 20px;
  display: flex;
  justify-content: space-between; }

.top-bar {
  background-color: #f6f6f6; }
  .top-bar__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "MerriweatherSans-Regular", sans-serif;
    color: #7e7e7e;
    font-size: 11px;
    line-height: 28px; }
  .top-bar__span {
    text-transform: uppercase;
    font-family: "MerriweatherSans-Regular", sans-serif;
    color: #7e7e7e;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 3px; }

.lang-currency {
  display: flex;
  justify-content: space-evenly;
  margin-top: 9px;
  margin-bottom: 22px; }
  .lang-currencya {
    padding-right: 15px; }

#choose-currency {
  margin-left: 18px;
  background: url(img/arrow-down.png) no-repeat 64px 11px; }

#choose-lang {
  margin-right: 29px;
  background: url(img/arrow-down.png) no-repeat 49px 11px; }

.logo {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.login {
  margin: 0 auto 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.logo__text {
  text-decoration: none;
  font-family: MerriweatherSans-Bold, sans-serif;
  color: #454545;
  font-size: 44px;
  font-weight: bold;
  margin-left: 4px; }
  .logo__textimg {
    margin-right: 8px; }

.search {
  border: 1px solid #e1e1e1;
  display: flex;
  margin: 0 20px; }
  .search__input {
    border: none;
    outline: none;
    vertical-align: top;
    font-family: TrebuchetMS, sans-serif;
    font-size: 13px;
    width: 90%;
    padding: 0 9px;
    line-height: 38px; }
  .search::-webkit-input-placeholder {
    color: #888888; }
  .search:-ms-input-placeholder {
    color: #888888; }
  .search::-ms-input-placeholder {
    color: #888888; }
  .search::placeholder {
    color: #888888; }
  .search__button {
    padding: 19px;
    border: none;
    cursor: pointer;
    background: url(img/search-icon.png) no-repeat 11px; }
  .search:hover {
    background: #e1e1e1 url(img/search-icon.png) no-repeat 11px; }

.nav-cart {
  margin: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #565656;
  align-items: center; }

.navigation__text {
  text-transform: uppercase;
  font-family: Cousine-Bold, sans-serif; }

.navigation__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.navigation__elem {
  width: 16px;
  height: 3px;
  background-color: #666666;
  margin-bottom: 2px; }

.cart {
  padding-left: 33px;
  background: url(img/basket.png) no-repeat 0 -3px; }
  .cart__sum {
    font-family: Cousine-Regular, sans-serif; }
@font-face {
  font-family: 'MerriweatherSans-ExtraBold';
  src: url(assets/fonts/MerriweatherSans-ExtraBold.svg) format("svg"), url(assets/fonts/MerriweatherSans-ExtraBold.ttf) format("ttf"), url(assets/fonts/MerriweatherSans-ExtraBold.woff) format("woff"); }

@font-face {
  font-family: 'MerriweatherSans-Bold';
  src: url(assets/fonts/MerriweatherSans-Bold.svg) format("svg"), url(assets/fonts/MerriweatherSans-Bold.ttf) format("ttf"), url(assets/fonts/MerriweatherSans-Bold.woff) format("woff"); }

@font-face {
  font-family: 'MerriweatherSans-Regular';
  src: url(assets/fonts/MerriweatherSans-Regular.svg) format("svg"), url(assets/fonts/MerriweatherSans-Regular.ttf) format("ttf"), url(assets/fonts/MerriweatherSans-Regular.woff) format("woff"); }

@font-face {
  font-family: 'ArialMT';
  src: url(assets/fonts/ArialMT.svg) format("svg"), url(assets/fonts/ArialMT.ttf) format("ttf"), url(assets/fonts/ArialMT.woff) format("woff"); }

@font-face {
  font-family: 'Arial-BoldMT';
  src: url(assets/fonts/Arial-BoldMT.svg) format("svg"), url(assets/fonts/Arial-BoldMT.ttf) format("ttf"), url(assets/fonts/Arial-BoldMT.woff) format("woff"); }

@font-face {
  font-family: 'Cousine-Regular';
  src: url(assets/fonts/Cousine-Regular.svg) format("svg"), url(assets/fonts/Cousine-Regular.ttf) format("ttf"), url(assets/fonts/Cousine-Regular.woff) format("woff"); }

@font-face {
  font-family: 'Cousine-Bold';
  src: url(assets/fonts/Cousine-Bold.svg) format("svg"), url(assets/fonts/Cousine-Bold.ttf) format("ttf"), url(assets/fonts/Cousine-Bold.woff) format("woff"); }

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url(assets/fonts/RobotoCondensed-Regular.svg) format("svg"), url(assets/fonts/RobotoCondensed-Regular.ttf) format("ttf"), url(assets/fonts/RobotoCondensed-Regular.woff) format("woff"); }

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url(assets/fonts/RobotoCondensed-Bold.svg) format("svg"), url(assets/fonts/RobotoCondensed-Bold.ttf) format("ttf"), url(assets/fonts/RobotoCondensed-Bold.woff) format("woff"); }

@font-face {
  font-family: 'TrebuchetMS';
  src: url(assets/fonts/TrebuchetMS.svg) format("svg"), url(assets/fonts/TrebuchetMS.ttf) format("ttf"), url(assets/fonts/TrebuchetMS.woff) format("woff"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.content {
  flex: 1; }
