doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Fengo
        link(rel="stylesheet" href="style.css")
    body
        include components/Header/header
    script(src="main.js")

