doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Fengo
    body
        .container
            .content
                include ../components/Header/header
                .main
            include ../components/Footer/footer

